*,
*::before,
::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button-primary {
  border: none;
  border-radius: 22px;
  background-color: #886239;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.3;
  text-align: center;
}

.container {
  max-width: 1140px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #1f1e1e;
}

.header {
  background-image: url('../images/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.header-inner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  /* padding: 15px 0 16px; */
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 15px;
  padding: 16px 0 49px;
}

.header-phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}

.header-phone-number {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 12px 31px 13px;
  margin-left: 19px;
}

.menu {
  width: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 27px 0 24px;
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.menu-list-item {
  font-size: 16px;
  line-height: 19px;
}

.header-title {
  font-family: 'PT Serif';
  font-weight: 700;
  font-size: 90px;
  line-height: 117px;
  color: #1f1e1e;
  margin-bottom: auto;
  text-align: center;
}

.header-content-text {
  max-width: 440px;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #1f1e1e;
  margin-bottom: 20px;
}

.header-content-btn {
  display: inline-block;
  padding: 19px 54px 20px;
  border-radius: 30px;
  margin-bottom: 20px;
}

.header-content-arrow {
  width: 41px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.direction {
  padding: 100px 0;
}

.direction-inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.direction-item {
  border: 1px solid #d9d9de;
}

.direction-text {
  font-size: 16px;
  line-height: 19px;
  padding: 12px 19px 19px 19px;
}

.travel-info {
  background-image: url('../images/travel-info-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 30px 0 50px;
  margin-bottom: 100px;
}

.travel-info-title {
  color: #fff;
  margin-bottom: 50px;
}

.travel-info-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 54px 67px;
}

.travel-info-img {
  margin-bottom: 15px;
}

.travel-info-text {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
}

.popular {
  margin-bottom: 100px;
}

.popular-title {
  margin-bottom: 40px;
}

.popular-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 32px;
  padding-bottom: 82px;
  border-bottom: 1px solid #d9d9de;
}

.popular-item-link {
  padding: 16px 24px 19px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 256px;
  line-height: 1.3;
}

.popular-item-link:nth-child(3),
.popular-item-link:nth-child(6) {
  grid-column: span 2;
  grid-row: span 2;
}

.popular-link-title {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.popular-link-title-big {
  font-size: 24px;
}

.popular-link-price {
  font-weight: 700;
  margin-top: auto;
}

.popular-link-country,
.popular-link-time {
  font-size: 16px;
  margin-bottom: 15px;
}

.map {
  margin-bottom: 100px;
}

.map-title {
  margin-bottom: 46px;
}

.about {
  margin-bottom: 100px;
}

.about-inner {
  display: grid;
  grid-template-columns: 448px 640px;
  column-gap: 32px;
}

.about-title {
  text-align: left;
  margin-bottom: 25px;
}

.about-text {
  margin-bottom: 34px;
}

.about-link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: underline;
  color: #c4c4c4;
}

.about-popup {
  background-image: url(../images/about-video-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  padding: 55px 0 105px;
  margin-bottom: 100px;
  background-color: #886239;
  color: #fff;
}

.gallery-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding-right: 160px;
}

.gallery-item-link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: underline;
}

.gallery-item-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.slick-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -85px;
  right: 0;
}

.slick-prev {
  right: 64px;
}

.tour {
  padding-bottom: 100px;
}

.tour-title {
  margin-bottom: 77px;
}

.tour-box {
  column-count: 2;
  column-gap: 46px;
  padding-bottom: 71px;
  border-bottom: 1px solid #d9d9de;
  margin-bottom: 44px;
}

.tour-box-text {
  margin-bottom: 15px;
}

.tour-box-text-accent {
  font-weight: 700;
}

.tour-info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 70px;
}

.tour-info-item {
  font-family: 'PT Serif', sans-serif;
  font-weight: 700;
  font-size: 58px;
  line-height: 60px;
  color: #886239;
  text-align: center;
}

.tour-info-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #1f1e1e;
}

.booking {
  background-color: #eaeaea;
  padding: 75px 0 76px;
}

.booking-title {
  margin-bottom: 43px;
}

.booking-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 832px;
  margin: 0 auto;
}

.booking-input {
  width: 256px;
  height: 44px;
  border: 1px solid #d9d9de;
  padding: 11px 14px 12px 14px;
  font-size: 16px;
  margin-bottom: 28px;
}

.booking-input::placeholder,
.booking-textarea::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #c4c4c4;
}

.booking-textarea {
  width: 100%;
  height: 112px;
  padding: 14px;
  border: 1px solid #d9d9de;
  resize: none;
  margin-bottom: 67px;
}

.booking-btn {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  padding: 19px 65px 20px;
  background-color: #886239;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.booking-label {
  font-size: 16px;
  line-height: 1.3;
  text-decoration: underline;
  display: flex;
  align-items: center;
}

.booking-checkbox {
  position: absolute;
  width: 1h 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 45px;
}

.booking-checkbox:checked + .booking-checkbox-style::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #c4c4c4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.booking-checkbox-style {
  border: 2px solid #c4c4c4;
  border-radius: 2px;
  width: 26px;
  height: 26px;
  position: absolute;
  margin-left: -45px;
}

.footer {
  padding: 77px 0 80px;
  background-color: #1f1e1e;
}

.footer-logo {
  width: 285px;
  margin: 0 auto 70px;
}

.footer-box {
  max-width: 832px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 14px;
  line-height: 1.3;
}

.footer-info {
  width: 225px;
}

.footer-box-title {
  font-weight: 500;
  margin-bottom: 7px;
}

.footer-copy {
  margin-bottom: 3px;
  opacity: 0.8;
}

.footer-link {
  text-decoration: underline;
  opacity: 0.8;
}

.footer-address {
  width: 165px;
}

.footer-address-text {
  opacity: 0.8;
}

.footer-contacts {
  width: 210px;
}

.footer-phone {
  opacity: 0.8;
}

.footer-mail {
  opacity: 0.8;
  display: block;
}

.menu-btn {
  display: none;
}

@media screen and (max-width: 1170px) {
  .direction-inner {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .direction-img {
    width: 100%;
  }

  .about-inner {
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .gallery-item-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery-item-img {
    width: 100%;
  }
}

@media screen and (max-width: 990px) {
  .popular-item-link {
    min-height: 200px;
  }

  .popular-items {
    gap: 10px;
  }

  .tour-info {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 15px;
  }
}

@media screen and (max-width: 924px) {
  .menu-list {
    gap: 96px;
  }

  .travel-info-items {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}

@media screen and (max-width: 840px) {
  .popular-item-link:nth-child(3),
  .popular-item-link:nth-child(6) {
    grid-column: auto;
    grid-row: auto;
  }

  .popular-items {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 50px;
  }

  .popular-item-link {
    min-height: 320px;
  }

  .popular {
    margin-bottom: 50px;
  }

  .booking {
    padding: 50px 0;
  }

  .booking-input {
    width: 100%;
  }

  .booking-label {
    width: 100%;
    margin-left: 50px;
    margin-top: -192px;
  }
}

@media screen and (max-width: 800px) {
  .menu-list {
    justify-content: space-around;
    gap: 0;
  }

  .header-phone span {
    display: none;
  }

  .header-title {
    font-size: 80px;
    line-height: 100px;
  }

  .map {
    margin-bottom: 50px;
  }

  .map-iframe {
    height: 400px;
  }

  .about-inner {
    grid-template-columns: 1fr;
  }

  .about-popup {
    min-height: 400px;
  }

  .about {
    margin-bottom: 50px;
  }

  .about-content {
    margin-bottom: 30px;
  }

  .gallery {
    margin-bottom: 50px;
  }

  .tour {
    padding-bottom: 50px;
  }

  .tour-box {
    column-count: 1;
    padding-bottom: 35px;
  }

  .tour-title {
    font-size: 40px;
  }

  .tour-info {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer {
    padding: 50px 0;
  }

  .footer-logo {
    margin: 0 auto 40px;
  }

  .footer-box {
    display: block;
    text-align: center;
  }

  .footer-info,
  .footer-address {
    margin: 0 auto 25px;
  }

  .footer-contacts {
    margin: 0 auto;
  }
}

@media screen and (max-width: 560px) {
  .header-title {
    font-size: 50px;
    line-height: 80px;
  }

  .menu-btn {
    display: inline-block;
    cursor: pointer;
    width: 40px;
    height: 30px;
    border: none;
    padding: 0;
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 122px;
  }

  .menu-btn::before,
  .menu-btn::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    height: 2px;
    background-color: #fff;
  }

  .menu-btn::before {
    top: 0;
  }

  .menu-btn::after {
    bottom: 0;
  }

  .menu-btn span {
    display: block;
    height: 2px;
    background-color: #fff;
  }

  .menu-list {
    transform: translateY(-200%);
    display: block;
    background-color: #886239;
    padding: 10px 0;
    position: absolute;
    left: 0;
    right: 0;
  }

  .menu-list.menu-list-activ {
    transform: translateY(0);
  }

  .menu-list-link {
    padding: 10px;
    display: block;
    text-align: center;
  }

  .header-logo {
    width: 100%;
    margin-bottom: 36px;
  }
  .logo-img {
    margin: 0 auto;
  }

  /* .header-top {
    justify-content: center;
  } */

  .menu {
    border: none;
  }

  .header-phone-number {
    margin-left: 0;
  }

  .direction-inner {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .direction {
    padding: 50px 0;
  }

  .travel-info-items {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .travel-info {
    margin-bottom: 50px;
  }

  .title {
    font-size: 28px;
  }

  .popular-items {
    grid-template-columns: repeat(1, 1fr);
  }

  .gallery-item-inner {
    grid-template-columns: repeat(1, 1fr);
  }

  .gallery-title {
    width: 100%;
    text-align: left;
  }

  .gallery-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding-right: 160px;
    flex-wrap: wrap;
    row-gap: 10px;
  }

  .gallery {
    padding: 25px 0;
  }
}

@media screen and (max-width: 468px) {
  .direction-inner {
    grid-template-columns: repeat(1, 1fr);
  }

  .travel-info-items {
    grid-template-columns: repeat(1, 1fr);
  }

  .tour-info {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 340px) {
  .about-popup {
    min-height: 280px;
  }
}
